html,
body {
    margin: 0;
    padding: 0;
    color: #777777;
    background-color: #000000;
}


#nodeHolder {
    position: absolute;
    top: 0;
    transition: opacity .1s;
    line-height: 0;


}
.brainNode {
    border-radius: 0%;
    display: inline-block;
    height: 2vmin;
    width: 2vmin;
    text-align: center;
    transition: opacity .5s;
    /* trigger hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    line-height: 3vmin; /* Same as height */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

}
.console {
    position:relative;
    bottom:0px;
    left:0%;
    right:0%;
    height:20%:
    overflow-y: auto; /* Enable vertical scrolling */
    border: 0px solid #ccc; /* Optional: Add a border for aesthetics */
    z-index: -10;
}
